*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 224, 232);
}

#output{
    margin-top: 20px;
}

h3{
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
    background-color: chartreuse;
    box-shadow: 2px 3px 2px green;
    border-radius: 10px;
}

input, button{
  padding: 20px;
  border-radius: 15px;
  box-shadow: 2px 3px 2px rgb(18, 17, 17);
  background-color: rgb(246, 241, 241);
  margin: 2px;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(237, 19, 179);
} 

